.Weather input {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid purple;
  margin: 5px 1px;
}

.Weather input.search-bar {
  width: 75%;
}

.Weather input.search-button {
  width: 24%;
}

.Weather {
  color: white;
}
